{% extends 'layout.html'%}
{%block content%}
    <div class='home p-5  bg-image'>
        <div class="mask text-center">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h2 class="heading mb-3">Loan Prediction</h2>
                    <h4 class="sub_heading mb-3">Make Predictions Today</h4>
                    <a class="btn btn-outline-light btn-lg" type='button' role="button" href="{{url_for('home')}}">Click to Proceed</a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}