.header{
    padding-top:58px;
}

.home{
    background-image: url("./image/bgphoto.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width:100%;
    position: relative;
}

.mask{
    background-color: rgba(0,0,0,.6);
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}
.form_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formbox{
    margin-top:8px;
    box-shadow:2px 3px 4px rgba(0,0,0,.6);
    width: 90%;
    padding: 20px;
}
